@import 'rooms';
@import 'stairs';

.map-container {
    display: table-cell;
    height: 100%;
}

.map {
    height: 92%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    border: 1px solid rgba(0,0,0,0.3);
    margin: auto;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);

    .center {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 25%;
        left: 25%;
        box-sizing: border-box;
        border-left: 5px solid black;
        background: repeating-linear-gradient( -55deg, #c5ac93, #c5ac93 10px, transparent 10px, transparent 20px );
        &:before {
            content: '';
            background-color: #F4E8D8;
            border-radius: 50%;
            display: block;
            width: 150px;
            height: 150px;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        &:after {
            content: '';
            background: url('./assets/icons/logo.png');
            background-size: 100%;
            display: block;
            width: 150px;
            height: 150px;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    .room-list {
        position: relative;
        height: 100%;
        width: 100%;

        > * {
            position: absolute;
            box-sizing: border-box;
        }
    }
}
