.map {
    .room-info {
        position: relative;
        height: 100%;
    }
    .name {
        top: 50%;
        position: relative;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .barcelone {
        left: 12.5%;
        bottom: 0;
        width: 25%;
        height: 25%;

        .name {
            top: 40%;
            &:after {
                content: '';
                background: url('./assets/icons/stairs-down.png');
                background-size: 100%;
                display: block;
                position: absolute;
                width: 30px;
                height: 30px;
                left: 40%;
                margin-top: 10px;
            }
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            width:50%;
            height: 100%;
            border-left: 5px solid black;
            border-top: 5px solid black;
            box-sizing: border-box;
        }
    }

    .ouagadougou {
        left: 0;
        top: 25.5%;
        width: 12.25%;
        height: 14%;

        .name {
            font-size: 1.8vmin;
        }
    }

    .san-francisco {
        left: 0;
        top: 40.5%;
        width: 12.25%;
        height: 31%;
    }

    .rio {
        left: 12.75%;
        top: 35%;
        width: 12.25%;
        height: 18%;
    }

    .cuzco {
        left: 12.75%;
        top: 53.5%;
        width: 12.25%;
        height: 21.5%;

        .name {
            font-size: 1.5vmax;
        }
    }

    .delhi {
        right: 0;
        bottom: 15.5%;
        width: 15%;
        height: 20%;
    }

    .thimphou {
        right: 0;
        width: 15%;
        top: 25.5%;
        height: 20%;
    }

    .le-loft {
        left: 35.5%;
        width: 39.5%;
        height: 25%;
    }

    .salle-berbere {
        width: 25%;
        height: 25%;

        &:after {
            display: block;
            content: '';
            width: 50%;
            height: 100%;
            position: absolute;
            left: 0;
            border-bottom: 4px dashed black;
            top: 0;
        }

        &:before {
            display: block;
            content: '';
            width: 50%;
            height: 100%;
            position: absolute;
            right: 0;
            border-bottom: 4px solid black;
            top: 0;
        }
    }

    .pondichery {
        bottom: 0;
        right: 25.5%;
        width: 10%;
        height: 15.5%;

        .name {
            font-size: 1.8vmin;
            top: 50%;
            position: relative;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            &:after {
                content: '';
                background: url('./assets/icons/phone.png');
                background-size: 100%;
                display: block;
                width: 30px;
                height: 30px;
                margin: auto;
                margin-top: 5px;
            }
        }

    }

    .bangalore {
        bottom: 0;
        right: 15%;
        font-size: 0.3vw;
        height: 15.5%;
        width: 10%;

        .name {
            font-size: 1.8vmin;
            top: 50%;
            position: relative;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            &:after {
                content: '';
                background: url('./assets/icons/phone.png');
                background-size: 100%;
                display: block;
                width: 30px;
                height: 30px;
                left: 35%;
                margin: auto;
                margin-top: 5px;
            }
        }
    }

    .antarctique {
        right: 0;
        top: 0;
        width: 15%;
        height: 25%;

        .name {
            font-size: 1.1vmax;
            top: 50%;
            position: relative;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            &:after {
                content: '';
                background: url('./assets/icons/stairs-down.png');
                background-size: 100%;
                display: block;
                width: 30px;
                height: 30px;
                margin: auto;
                margin-top: 10px;
            }
        }
    }

    .tokyo {
        right: 15.5%;
        width: 9%;
        height: 13%;
        top: 0;
        .name {
            font-size: 1.3vmax;
            top: 50%;
            position: relative;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            &:after {
                content: '';
                display: block;
                background-size: 100%;
                background-image: url('./assets/icons/sofa.png');
                width: 60px;
                height: 30px;
                margin: auto;
                margin-top: 5px;
            }
        }
    }
}
