node_modules
jspm_packages
/config.js
/local

/lib
/public/js
/public/index.css*

/.settings
.project
.idea
*.sublime-project
*.sublime-workspace

#*
*$
*.BAK
*.bak
*.log
*.old
*.pyc
*~
.#*
.DS_Store
,*
