node_modules
jspm_packages
/config.js
/local
/fabfile.py
/config/local.json

/lib
/local
/public/js
/public/style.css*
/public/main-sfx.js*

/.settings
.project
.idea
*.sublime-project
*.sublime-workspace

#*
*$
*.BAK
*.bak
*.log
*.old
*.pyc
*~
.#*
.DS_Store
,*
