.highlighted-rooms-container {
    height: 40%;
    position: relative;

    > .room-list-container {
        display: table;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;

        .room-list {
            display: table-row;
            height: 100%;
            width: 100%;
            > * {
                display: table-cell;
                margin-right: 1%;
                background-color: #f4e8d8;

                &:last-child {
                    margin-right: 0;
                }

                .busy {
                    .name {
                        color: #f34235;
                    }
                    .current-event {
                        background-color: #f34235;
                    }
                }

                .busy-soon {
                    .name{
                        color: #F79400;
                    }
                    .current-event {
                        background-color: #F79400;
                    }

                }

                .available {
                    .current-event {
                        background-color: #33cc99;
                    }
                    .name {
                        color: #33cc99
                    }
                }
            }
        }
    }
}
