.highlighted-rooms-container {
    height: 40%;
    position: relative;

    > .room-list-container {
        display: table;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;

        .room-list {
            display: table-row;
            height: 100%;
            width: 100%;
            > * {
                display: table-cell;
                margin-right: 1%;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
