@keyframes blinkBusySoon {
    0% {
        background: #33cc99;
    }

    40% {
        background: #F79400;
    }

    60% {
        background: #F79400;
    }

    90% {
        background: #f34235;
    }

    100% {
        background: #33cc99;
    }
}

.preview-rooms-container {
    display: table;
    width: 100%;
    height: 60%;
    background: #FFF;

    .busy {
        background-color: #f34235;
    }

    .busy-soon {
        animation-direction: normal;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: blinkBusySoon;
        animation-timing-function: ease;
    }

    .available {
        background-color: #33cc99
    }
}

.no-main-room.no-other-rooms {
    .preview-rooms-container {
        height: 100%;
    }
}

.room-preview-container {
    width: 100%;
    height: 100%;
    padding: 2%;
    box-sizing: border-box;

    .name {
        font-size: 1.8vmax;
        text-align: center;
    }

    .status {
        font-size: 5em;
    }
}
