.preview-rooms-container {
    display: block;
    height: 60%;
    background: #FFF;
}

.room-preview-container {
    width: 100%;
    height: 100%;
    padding: 2%;
    box-sizing: border-box;

    .name {
        font-size: 1.8vmax;
        text-align: center;
    }

    .status {
        font-size: 5em;
    }
}

.map-container {
    height: 92%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .map {
        width: 80%;
        height: 100%;
        border: 1px solid rgba(0,0,0,0.3);
        margin: auto;
        position: relative;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);

        .center {
            position: absolute;
            width: 50%;
            height: 50%;
            top: 25%;
            left: 25%;
            box-sizing: border-box;
            border-left: 5px solid black;
            background: repeating-linear-gradient( -55deg, #c5ac93, #c5ac93 10px, transparent 10px, transparent 20px );
            &:before {
                content: '';
                background-color: #F4E8D8;
                border-radius: 50%;
                display: block;
                width: 150px;
                height: 150px;
                margin: auto;
                position: relative;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            &:after {
                content: '';
                background: url('./assets/icons/logo.png');
                background-size: 100%;
                display: block;
                width: 200px;
                height: 200px;
                margin: auto;
                position: relative;
                top: -11%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
        .room-list {
            position: relative;
            height: 100%;
            width: 100%;

            > * {
                box-sizing: border-box;
            }

            li {
                position: absolute;
            }

            .stairs {
                &:before, &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 50%;
                }
                &:before {
                    background: repeating-linear-gradient( 90deg, rgba(0,0,0,0), rgba(0,0,0,0) 10px, rgba(0,0,0,0.2) 10px, rgba(0,0,0,0.2) 20px);
                    top: 0;
                    border-top: 1px solid rgba(0,0,0,0.3);
                }
                &:after {
                    bottom: 0;
                    background: repeating-linear-gradient( 90deg, rgba(0,0,0,0) 10px, rgba(0,0,0,0) 20px, rgba(0,0,0,0.2) 10px, rgba(0,0,0,0.2) 30px);
                }
            }


            .barcelone {
                left: 12.5%;
                bottom: 0;
                width: 25%;
                height: 25%;
                line-height: 140px;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width:50%;
                    height: 100%;
                    border-left: 5px solid black;
                    border-top: 5px solid black;
                    box-sizing: border-box;
                }
                &:after {
                    content: '';
                    background: url('./assets/icons/stairs-down.png');
                    background-size: 100%;
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    top:20%;
                    left: 40%;
                }
            }

            .buenos-aires {
                left: 0;
                top: 25.5%;
                width: 12.25%;
                height: 14%;
                line-height: 30px;

                .name {
                    font-size: 2.2vmin;
                }
            }

            .san-francisco {
                left: 0;
                top: 40.5%;
                width: 12.25%;
                height: 31%;
                line-height: 45px;
            }

            .rio {
                left: 12.75%;
                top: 35%;
                width: 12.25%;
                height: 18%;
                line-height: 90px;
            }

            .cuzco {
                left: 12.75%;
                top: 53.5%;
                width: 12.25%;
                height: 18%;
                line-height: 90px;

                .name {
                    font-size: 1.5vmax;
                }
            }

            .delhi {
                right: 0;
                bottom: 15.5%;
                width: 15%;
                height: 20%;
                line-height: 90px;
            }

            .pekin {
                right: 0;
                width: 15%;
                top: 25.5%;
                height: 20%;
                line-height: 90px;
            }

            .le-loft {
                left: 35.5%;
                width: 38.5%;
                height: 25%;
                line-height: 100px;
            }

            .salle-berbere {
                width: 25%;
                height: 25%;
                line-height: 2;

                &:after {
                    display: block;
                    content: '';
                    width: 50%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    border-bottom: 4px dashed black;
                    top: 0;
                }

                &:before {
                    display: block;
                    content: '';
                    width: 50%;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    border-bottom: 4px solid black;
                    top: 0;
                }
            }

            .pondichery {
                bottom: 0;
                right: 30.5%;
                width: 15%;
                height: 15.5%;
                line-height: 100px;

                .name {
                    font-size: 1.8vmin;
                }

                &:after {
                    content: '';
                    background: url('./assets/icons/phone.png');
                    background-size: 100%;
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    top:10%;
                    left: 40%;
                }
            }

            .bangalore {
                bottom: 0;
                right: 15%;
                font-size: 0.3vw;
                height: 15.5%;
                line-height: 100px;
                width: 15%;


                .name {
                    font-size: 1.8vmin;
                }

                &:after {
                    content: '';
                    background: url('./assets/icons/phone.png');
                    background-size: 100%;
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    top:10%;
                    left: 40%;
                }
            }

            .antarctique {
                right: 0;
                top: 0;
                width: 15%;
                height: 25%;
                line-height: 100px;

                .name {
                    font-size: 1.1vmax;
                    line-height: 135px;

                    &:after {
                        content: '';
                        background: url('./assets/icons/stairs-down.png');
                        background-size: 100%;
                        display: block;
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        top:20%;
                        left: 40%;
                    }
                }
            }

            .tokyo {
                right: 15.5%;
                width: 10%;
                height: 9%;
                top: 0;
                line-height: 40px;
                .name {
                    font-size: 1.3vmax;
                }
            }
        }
    }
}
