
.busy {
    background-color: #f34235;
}

.busy-soon {
    background-color: #F79400;
}

.available {
    background-color: #33cc99
}

.room {
    height: 100%;
    color: #f9f3eb;

    .room-info {
    }
}
