html, body {
    margin:0;
    padding:0;
    font-family: 'Arvo', serif;
}

#app {
    width: 100%;
    height: 100%;
    position: absolute;

    .page-container {
        width: 100%;
        height: 100%;
    }



    .busy {
        background-color: #f34235;
    }

    .busy-soon {
        background-color: #F79400;
    }

    .available {
        background-color: #33cc99
    }
}


.room {
    width: 100%;
    height: 100%;

    .room-info {
        color: #f9f3eb;
        text-align: center;
        position: relative;

        top: 12%;
    }
}

.mainRoom-container {
    height: 80%;
    position: relative;


    .room-info {
        .name {
            font-size: 10em;
            text-transform: uppercase;
        }

        .status {
            font-size: 5em;
        }

        .emoticon {
            display: block;
            font-size: 2em;
            color: #f9f3eb;
            width: 100%;
            height: 20px;
            text-align: center;
        }
    }

    .current-event, .next-event {
        color: #fff;
        position: absolute;
        bottom: 1em;
        padding: 1.2em;
        text-align: center;
    }
    .current-event {
        left: 10%;
        right: 60%;
    }
    .next-event {
        right: 10%;
        left: 60%;
    }
}

.otherRooms-container {
    height: 20%;
    background-color: rgba(80, 80, 80, 0.3);
}


.room-preview-container {
    height: 90%;
    // width: 12em;
    width: 190px;
    margin-top: 10px;
    margin-left: 15px;

    .name {
        font-size: 1.3em;
    }

    .status {
        font-size: 5em;
    }
}

.room-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;

    > li {
        float: left;
        height: 100%;
    }
}
