.event-list {
    .event {
        clear: right;
    }
    .day {
        background-color: rgba(80, 80, 80, 0.3);
        margin: 5px 0 1px;
        padding: 1px 3px;
    }
    .start-hour, .end-hour {
        font-size: 1.2em;
        color: rgba(255,255,255,.8);
    }
    .end-hour {
        font-size: 1.1em;
    }
    div {
        display: inline;
    }
    .attendees {
        font-size: .9em;
        float: right;
    }
}

.current-event {
    background-color: rgba(80, 80, 80, 0.3);
    padding: 5px 10px;
    margin: 0 -10px 15px;

    .event {
        margin-top: 5px;
        margin-bottom: 15px;

        .event-info > span {
            display: block;
        }
    }

    .summary {
        font-size: 2.2em;
        line-height: 100%;
    }

    .attendees {
        margin-top: 5px;
        font-size: 1.1em;
        float: none;
    }
}

.room.first {
    .current-event {
        .summary {
            font-size: 2.8em;
        }
    }
}
